name: Test Package

on: push

jobs:
  test:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
      - name: Use Pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8
      - name: Use Node LTS
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Run library tests
        run: pnpm run test
